%h1 Edit Profile

= form_tag tamu_user_path(@tamu_user), id: 'edit_user_form', :method => :put do

  = label :tamu_user, :name, 'Name'
  = text_field :tamu_user, 'name'

  = label :tamu_user, :email, 'Email'
  = text_field :tamu_user, 'email'
  %br
  %br
  = submit_tag 'Save Changes', id: 'submit_user_form', :class=>"btn btn-primary"