%h1 Edit Profile

= form_tag tamu_user_path(@tamu_user), :method => :put do

  = label :tamu_user, :name, 'Name'
  = text_field :tamu_user, 'name'

  = label :tamu_user, :email, 'Email'
  = text_field :tamu_user, 'email'


  = submit_tag 'Save Changes'
