%h2#name= @tamu_user.name

%h3 Role:
%p#role= @tamu_user.role.capitalize

%h3 Email:
%p#email=  @tamu_user.email

%h3 Admin Status:
%p#admin= @tamu_user.admin

      %h3 Email:
      %p#email=  @tamu_user.email
      
      -if @current_user.class.name == "TamuUser" and @current_user.admin?
        %h3 Admin Status:
        %p#admin= @tamu_user.admin
      
      - if @current_user == @tamu_user
        = link_to 'Edit Profile', edit_tamu_user_path(@tamu_user.id)

= link_to 'Edit', edit_tamu_user_path(@tamu_user.id)

%br
%img(src="https://dl.dropboxusercontent.com/u/41174619/se_project/my_page.png")
