- project = ProjectPresenter.new @project
-# edit.html.haml using partial

%h1 Edit Existing Project

= form_tag project_path(@project), id: 'edit_project_form', :method => :put do

  = label :project, :name, 'Name'
  = text_field :project, 'name', required: true

  = label :project, :description, 'Description'
  = text_area :project, 'description', :rows => 7, :cols=>70, placeholder: "Enter project description"

  = label :project, :tags, 'Tags'
  = text_field :project, 'tags'

  = label :project, :status, 'Status'
  = project.status_select
  %br
  = submit_tag 'Save Changes', id: 'submit_project_form' , :class=>'btn btn-primary'