-# edit.html.haml using partial

%h1 Edit Existing Project

= form_tag project_path(@project), id: 'edit_project_form', :method => :put do

  = label :project, :name, 'Name'
  = text_field :project, 'name', required: true

  = label :project, :description, 'Description'
  = text_field :project, 'description'

  = label :project, :tags, 'Tags'
  = text_field :project, 'tags'

  = label :project, :status, 'Status'
  = select :project, :status, Project.all_statuses.map { |k| [k.capitalize,k] }

  = submit_tag 'Save Changes', id: 'submit_project_form' 


%img(src="https://dl.dropboxusercontent.com/u/41174619/se_project/edit_page.png")
