%h1 All Project

!!!
-#%head
-#    %h1 TAMU Non-Profit Projects Collect System
-#%body
#content
    #left{:float => "left", :width => "30%"}
        -#%p
        %input{:size => "15", :maxlength => "100", :name => "search_index", :type => "text", :value => ""}/
        %button{:type => "button",:class=>"btn btn-primary"} Search
        -#%p
        -#= link_to "Create Project", new_project_path
        -#%br
        -#%a{:href => "url"} Advanced Search
        -#%p
        -#= link_to "Create Project", new_project_path
        -#%br
        -#%p
        -#= link_to "My page", tamu_user_path(1)
        -#%br
        %br
        %br
    #right
        %table{:border => 1, :width => "70%"}
            %tr{:height => "10px"}
                %th{:align=> "left"} Project Name
                %th{:align=> "left"} Description
                %th{:align=> "left"} Status
                %th{:align=> "left"} Tags
                %th{:align=> "left"} Agency
                - if @current_user.is_a?(TamuUser) and @current_user.admin?
                    %th{:align=> "left"} Unapprove Project
        
            - ProjectPresenter.all(@projects) do |project|
                %tr{:height => "10px"}
                    %td= project.profile
                    %td= project.description
                    %td= project.status
                    %td= project.tags
                    %td= project.agency_profile
                    - if @current_user.is_a?(TamuUser) and @current_user.admin?
                        %td= button_to 'Unapprove Project', unapprove_project_path(project),:class=>"btn btn-warning"
    #footer

/ #left{:float => "left", :width => "30%"}
/     %br
/     %input{:size => "15", :maxlength => "100", :name => "search_index", :type => "text", :value => ""}/
/     %button{:type => "button",:class=>"btn btn-primary"} Search
/     %br
/     %br
/ #right
/     %table{:border => 1, :width => "70%"}
/         %tr{:height => "10px"}
/             %th{:class=>'span7 text-center'} Project Name
/             %th{:class=>'span7 text-center'} Description
/             %th{:class=>'span7 text-center'} Status
/             %th{:class=>'span7 text-center'} Tags
/             %th{:class=>'span7 text-center'} Agency
/             %th{:class=>'span7 text-center'} Unapprove Project
    
/         - @projects.each do |project|
/             %tr{:height => "40px"}
/                 %td= link_to project.name, project_path(project)
/                 %td= project.description
/                 %td= project.status
/                 %td= project.tags.join ", "
/                 %td= project.agency.try(:name) #TODO change to name when creation is figured out
/                 %td{:class=>'span7 text-center'}= button_to 'Unapprove', unapprove_project_path(project),:class=>"btn btn-danger"
/ #footer
