#headtitle= link_to "All Projects", projects_path(search: {'value' => ""})

!!!

#content
    #left{:float => "left", :width => "30%"}
        = form_tag projects_path, :method => :get do
            = text_field :search, "value", value: @search_value
            %select{ :name => "search[type]", id: 'search_type', :class=>'styled-select' }
                %option{:value => "name", selected: @search_type == "name" }= "Name"
                %option{:value => "description", selected: @search_type == "description" }= "Description"
                %option{:value => "status", selected: @search_type == "status" }= "Status"
                %option{:value => "tags", selected: @search_type == "tags" }= "Tags"
                %option{:value => "agency_name", selected: @search_type == "agency_name" }= "Agency"

            = submit_tag 'Search',:class=>'btn btn-primary'
        %br
        %br
    #right
        %table{:border => 1, :width => "100%"}
            %tr{:height => "10px"}
                %th{:align=> "left"}
                    = link_to "Project Name", projects_path(sort_params params, :name)
                %th{:align=> "left"} Description
                %th{:align=> "left"} Status
                %th{:align=> "left"} Tags
                %th{:align=> "left"}
                    = link_to "Agency", projects_path(sort_params params,  :agency)
                %th{:align=> "left"}
                    = link_to "Date", projects_path(sort_params params,  :date)
                - if @current_user.is_a?(TamuUser) and @current_user.admin?
                    %th{:align=> "left"} Unapprove Project
        
            - ProjectPresenter.all(@projects) do |project|
                %tr{:height => "10px"}
                    %td= project.profile
                    %td= project.description
                    %td= project.status
                    %td= project.tags
                    %td= project.agency_profile
                    %td= project.date
                    - if @current_user.is_a?(TamuUser) and @current_user.admin?
                        %td= button_to 'Unapprove Project', unapprove_project_path(project.id)
    #footer
