%h2#name Details about #{@project.name}

%h3 Description:
%p#description= @project.description

%h3 Tags:
%p#tags= @project.tags.join(", ")

%h3 Status:
%p#status= @project.status

%h3 Agency:
%p#agency= link_to @project.agency.name, agency_path(@project.agency) 

- if @current_user.id == @project.agency.id
    = link_to 'Edit', edit_project_path(@project)
// = button_to( "Approve Project", :action => :approve, :controller => "project")
- if @current_user.class.name == "TamuUser" and @current_user.admin?
    - if !@project.approved
        = button_to 'Approve Project', approve_project_path(@project)
    - else
        = button_to 'Unapprove Project', unapprove_project_path(@project)
- if @current_user.id == @project.agency.id
    = button_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?'
- if @current_user.class.name == "TamuUser"
    = link_to 'Back to project list', projects_path

%br
%img(src="https://dl.dropboxusercontent.com/u/41174619/se_project/project_page.png")
