%h2#name Details about #{@project.name}
#edit-delete
    = button_to 'Edit',edit_project_path(@project), :id=>"edit",:class=>"btn btn-primary"
    = button_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?', :id=>"delete",:class=>"btn btn-danger"

%h3 Description:
%p#description= @project.description

%h3 Tags:
%p#tags= @project.tags.join(", ")

%h3 Status:
%p#status= @project.status

%h3 Agency:
%p#agency= @project.agency.try(:name)
/%p#agency= link_to @project.agency, agency_path(@project.agency) #TODO change to name and link to agency when each project has an agenc
// = button_to( "Approve Project", :action => :approve, :controller => "project")
- if !@project.approved  
    = button_to 'Approve Project', approve_project_path(@project),:class=>"btn btn-warning"
- else
    = button_to 'Unapprove Project', unapprove_project_path(@project),:class=>"btn btn-warning"
%br
= button_to 'Back to project list', projects_path,:class=>"btn btn-info"
%img(src="https://dl.dropboxusercontent.com/u/41174619/se_project/project_page.png")
