%html
  %head
    %title TAMU Projects Collectiton System
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #maroon_top
      #title_padding
        /%h2.title Texas A&M Projects Collection System
        %img{:alt => "Aggie Cares", :src => "./app/assets/images/logo.png"}
      .top-header
        #a-maroon
          = link_to '<i class="fa fa-home" aria-hidden="true"></i> Home'.html_safe, root_path
          - if !logged_in?
            #login
              = link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>Login'.html_safe, my_login_path
          - else 
            - if @current_user.is_a?(TamuUser)
              
              = link_to '<i class="fa fa-users" aria-hidden="true"></i> My Page'.html_safe, tamu_user_path(@current_user.id)
              
              = link_to '<i class="fa fa-graduation-cap" aria-hidden="true"></i> TAMU Users'.html_safe, tamu_users_path
              
              = link_to '<i class="fa fa-building" aria-hidden="true"></i> Agencies'.html_safe, agencies_path
              
              = link_to '<i class="fa fa-sticky-note" aria-hidden="true"></i> Projects'.html_safe, projects_path
              - if @current_user.admin?
                
                = link_to '<i class="fa fa-exclamation" aria-hidden="true"></i> Unapproved Agencies'.html_safe, unapproved_agencies_index_path
                
                = link_to '<i class="fa fa-exclamation" aria-hidden="true"></i> Unapproved Projects'.html_safe, unapproved_projects_index_path
                
                = link_to '<i class="fa fa-exclamation" aria-hidden="true"></i> Unapproved Faculty'.html_safe, unapproved_professors_index_path
            - else
              
              = link_to '<i class="fa fa-user" aria-hidden="true"></i> My Page'.html_safe, agency_path(@current_user.id)
            #logout
              = link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>Log out'.html_safe, current_user.is_a?(TamuUser) ? '/logout' : my_logout_path
      / .top-header
      #login-as
        - if logged_in?
          Logged in as #{current_user.name}
    #main
      #layoutcenter
        - if flash[:notice]
          #notice.message!= flash[:notice]
        - elsif flash[:warning]
          #warning.message!= flash[:warning]
        - elsif flash[:success]
          #success.message!= flash[:success]

        = yield
    #maroon_footer
      <i class="fa fa-copyright" aria-hidden="true"></i> 2016 Texas A&M University 
      %br
      Developed By: