%html
  %head
    %title TAMU Non-Profit Projects Collect System
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #head.header_grid
      #logo.headerlogo
        =image_tag "csen-logo.png"
      #content.headerContent
        %h2.title TAMU Non-Profit Project Collection Systems
    #header-link
      = link_to 'Home', root_path
      |
      -#= link_to 'Login', welcome_login_path
      - if logged_in?
        = link_to "Log out", logout_path
      - else
        = link_to 'Login', login_path
      |
      = link_to 'Sign up', welcome_signup_path
      |
      -#= link_to "My page", tamu_user_path(1)
      = link_to "My page",  mypage_path, :id=>"mypage"
      - if logged_in?
        logged in as "#{@current_user.name}" (#{@current_user.class.to_s} #{@current_user.id})
      |
      = link_to 'All projects', projects_path
      |
      = link_to 'All TAMU users', tamu_users_path
      |
      = link_to 'All Agencies', agencies_path
      / |
      / %button{:class=>"search", :type => "button"} Search
      / %input{:class=>"search", :size => "15", :maxlength => "100", :name => "search_index", :type => "text", :value => ""}/

    #side-bar
      #left.pageLeftMenu
      <br>
      = link_to "My Profile", tamu_users_path
      <br>
      <br>
      = link_to "My Project", projects_path
    %div{:id=>"main.blended_grid"}
      #right.pageContent
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        = yield

        -#= debug(params) if Rails.env.development?
        -#%br
        -#= debug(session) if Rails.env.development?
      
        -#%div{:id=>"side-bar"}
        -#= link_to 'Home'
